.sidebar-nav{
    margin-top:0;
    margin-left: 0;
    
   
    list-style: none;
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: rgb(13, 194, 58);
    color: black;
    padding: 10px;
    font-family: 'Lobster', cursive;
  
    
}

body form{
    text-align: start;
}


a{
    text-decoration: none;
}
h1 .heading {
    z-index: 9;
    width: 100%;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    background-color: aquamarine;
    
    color: orangered;
}

body{
    background-color: beige;
}


.sidebar-nav a{
    display: inline-block;
    padding-left: 10px;
   
    padding-top: 50px;
    
    
color: black;
font-size: 20pt;

}
.sidebar-nav a:hover{
    color: rgb(250, 246, 246);
    transition: 0.1s;

    
    }


.col-sm-2{
    margin: 0;
    padding: 0;
  height: 100%;
  display: block;
  background-color: rgb(12, 187, 120);
}
    
#logout-form{
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
    font-size: 20pt;
}
