.sidebar-nav{
    margin-top:0;
    margin-left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content:safe;
    list-style: none;
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: rgb(255, 153, 0);
    color: black;
    padding: 10px;
    font-family: 'Lobster', cursive;
  
    
}

body form{
    text-align: center;
}

form {
    display: inline-block;
}

h1 .heading {
    z-index: 9;
    width: 100%;
    display: block;
    padding: 20px,20px,20px,20px;
    background-color: aquamarine;
    font-family: "Lobster", cursive;
    color: orangered;
}

body{
    background-color: beige;
}


.sidebar-nav a{
color: black;
font-size: 20pt;

}
.sidebar-nav a:hover{
    color: rgb(250, 246, 246);
    font-size: 22pt;
    transition: 0.3s;

    
    }


.col-sm-2{
    margin: 0;
    padding: 0;
  height: 100%;
  display: block;
  background-color: rgb(12, 187, 120);
}
    
#logout-form{
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
    font-size: 20pt;
}
